################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns_AbstractFactory/bin/Debug/net9.0
/DesignPatterns_AbstractFactory/obj
/EntityFrameworkCoreDemo/API/obj
/EntityFrameworkCoreDemo/AspNetCoreWebApi/bin/Debug/net9.0
/EntityFrameworkCoreDemo/AspNetCoreWebApi/obj
/EntityFrameworkCoreDemo/DataAccess.Postgress/bin/Debug/net9.0
/EntityFrameworkCoreDemo/DataAccess.Postgress/obj
/MaxCliqueFinder/.vs/MaxCliqueFinder
/MaxCliqueFinder/obj
/MaxCliqueFinder/bin/Debug/net9.0
/MaxCliqueFinder/.vs/ProjectEvaluation
