################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns_AbstractFactory/bin/Debug/net9.0
/DesignPatterns_AbstractFactory/obj
/EntityFrameworkCoreDemo/API/obj
/EntityFrameworkCoreDemo/AspNetCoreWebApi/bin/Debug/net9.0
/EntityFrameworkCoreDemo/AspNetCoreWebApi/obj
/EntityFrameworkCoreDemo/DataAccess.Postgress/bin/Debug/net9.0
/EntityFrameworkCoreDemo/DataAccess.Postgress/obj
/MaxCliqueFinder/.vs/MaxCliqueFinder
/MaxCliqueFinder/obj
/MaxCliqueFinder/bin/Debug/net9.0
/MaxCliqueFinder/.vs/ProjectEvaluation
/language_exercises/.vs
/language_exercises/bin/Debug/net9.0
/language_exercises/obj
/DesignPatterns_Bridge/.vs/DesignPatterns_Bridge
/DesignPatterns_Bridge/obj/Debug/net8.0
/DesignPatterns_Bridge/obj
/EntityFrameworkCoreDemo/.vs
/DesignPatterns_Bridge/bin/Debug/net8.0
/DesignPatterns/.vs/DesignPatterns
/DesignPatterns/bin/Debug/net8.0
/DesignPatterns/obj
/DesignPatterns_Bridge/.vs/ProjectEvaluation
/DesignPatterns/Bridge/bin/Debug/net8.0
/DesignPatterns/Bridge/obj
/DesignPatterns/Mediator/bin/Debug/net8.0
/DesignPatterns/Mediator/obj
/DesignPatterns/AbstractFactory/bin/Debug/net9.0
/DesignPatterns/AbstractFactory/obj
