################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns_AbstractFactory/bin/Debug/net9.0
/DesignPatterns_AbstractFactory/obj
